<form>
  <label for="search">Search</label>
  <div class="loading"></div>
  <input type="text" id="search" name="search" spellcheck="false" autocomplete="off" value="" placeholder="Type a keyword (eg. “caching”)">
  <ul id="suggestions">
    <li class="active"><a href="#advanced">404 Error pages</a></li>
    <li><a href="#advanced">Accept-Encoding headers</a></li>
    <li><a href="#accounts">Amazon AccessKey</a></li>
    <li><a href="#accounts">Amazon credentials</a></li>
    <li><a href="#advanced">Amazon region</a></li>
    <li><a href="#pricing">Amazon S3 pricing</a></li>
    <li><a href="#accounts">Amazon SecretKey</a></li>
    <li><a href="#best-practices">Asset hashes</a></li>
    <li><a href="#best-practices">Best practices</a></li>
    <li><a href="#caching">Cache-Control headers</a></li>
    <li><a href="#caching">Caching</a></li>
    <li><a href="#changelog">Changelog</a></li>
    <li><a href="#gzipping">Compression</a></li>
    <li><a href="#getting-started">Configuring Amazon S3 bucket</a></li>
    <li><a href="#content-types">Content types</a></li>
    <li><a href="#advanced">Custom domains</a></li>
    <li><a href="#advanced">Custom email addresses</a></li>
    <li><a href="#content-types">Custom MIME types</a></li>
    <li><a href="#pricing">Data transfer limit</a></li>
    <li><a href="#getting-started">Deploying</a></li>
    <li><a href="#content-types">Expires headers</a></li>
    <li><a href="#content-types">File extensions</a></li>
    <li><a href="#getting-started">Getting started</a></li>
    <li><a href="#gzipping">Gzipping</a></li>
    <li><a href="#getting-started">Installation</a></li>
    <li><a href="#license">License</a></li>
    <li><a href="#caching">Max-age</a></li>
    <li><a href="#advanced">Object invalidation</a></li>
    <li><a href="#redirects">Redirects</a></li>
    <li><a href="#pricing">Request limit</a></li>
    <li><a href="#getting-started">S3 Bucket</a></li>
    <li><a href="#pricing">Storage limit</a></li>
    <li><a href="#advanced">Static website generators</a></li>
    <li><a href="#advanced">Upload directory</a></li>
    <li><a href="#accounts">User accounts</a></li>
  </ul>
</form>
