---
title: Upstatic — Deploy static websites to Amazon S3
description: Upstatic is a free tool that automatically configures and optimizes Amazon S3 for static website hosting and deploys when you need it to
---

<h1><a href="https://twitter.com/upstatic" rel="external">A&nbsp;better way to deploy <span>static web</span>sites to Amazon&nbsp;S3</a></h1>
