---
title: Download — Upstatic
description: We’ve made installing Upstatic as easy as possible. Just download one of the installers and follow the steps included.
banner: <h1>Download &amp;&nbsp;install</h1><p class="intro">We’ve made installing Upstatic as&nbsp;easy as it gets. Simply download and run. For other downloads, see our <a href="#" rel="external">GitHub&nbsp;page</a>.</p><ul class="downloads"><li><a class="osx active" href="#" download="upstatic-osx.zip"><div class="dwnld dwnld-mac"></div><span class="label">Mac OS X</span></a></li><li><a class="win" href="#" download="upstatic-win.zip"><div class="dwnld dwnld-win"> </div><span class="label">Windows</span></a></li><li><a class="lnx" href="#" download="upstatic-linux.zip"><div class="dwnld dwnld-lnx"></div><span class="label">Linux</span></a></li></ul><span class="dwnld-info">…or run <em>“brew install upstatic”</em> in terminal</span>
---
