---
title: Upstatic — Deploy static websites to Amazon S3
---

<p>A better way to deploy static websites to Amazon S3. Works with hand coded websites in addition to Jekyll, Middleman or any other static site generator.</p>

<p><b>p.s. It’s free! <a href="#">Download</a> or <a href="#">Install via pgier</a></b></p>

<h2>Feature highlights</h2>

<ul>
  <li>Blazingly fast! All your files are Gzipped, cached and distributed globally using Amazon’s&nbsp;CDN.</li>
  <li>Automatically creates S3 bucket and configures it for website hosting.</li>
  <li>Only changed files are re-deployed, which allows faster performance.</li>
  <li>No need to use clunky FTP clients anymore.</li>
  <li>Concurrent file uploads.</li>
  <li>Written in Go.</li>
</ul>

<h2>What people are saying?</h2>

<p>Here will be list of folks using it with a comment and a photo of their face. I’ll add myself first to the list, but hopefully we can get more people to spread the&nbsp;word.</p>

<h2>Usage Instructions</h2>

<p>Blaa blaa</p>

<h2>Configuration</h2>

<p>Blaa blaa</p>


<p>Brought to you by <a href="http://twitter.com/jcxplorer">@jcxplorer</a> and <a href="http://twitter.com/viljamis">@viljamis</a>. Follow&nbsp;us on Twitter for&nbsp;updates.
