---
title: Upstatic — Deploy static websites to Amazon S3
description: Upstatic is a free tool that makes deploying websites to Amazon S3 as easy as pushing changes to GitHub. We automatically configure S3 for you, so you don’t have to.
---

<img src="/img/logo-icon.svg" class="logo logo-icon" alt="" onerror="this.onerror=null; this.src='/img/logo-icon.png'">

<h1>A&nbsp;better way to deploy <span>static web</span>sites to Amazon&nbsp;S3</h1>
